<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://el-dev.chinacloudapp.cn:3306/enno_operationserverdb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <mapping class="enno.operation.dal.EventLogEntity"/>
        <mapping class="enno.operation.dal.EventsourceEntity"/>
        <mapping resource="EventLogEntity.hbm.xml"/>
        <mapping resource="EventsourceEntity.hbm.xml"/>
        <mapping resource="EventsourceActivityEntity.hbm.xml"/>
        <mapping resource="EventsourceSubscriberMapEntity.hbm.xml"/>
        <mapping resource="EventsourceTemplateEntity.hbm.xml"/>
        <mapping resource="EventsourceTemplateActivityEntity.hbm.xml"/>
        <mapping resource="SubscriberEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>