<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

       <http pattern="/css/themes/base/images" security="none"/>
       <http pattern="/font" security="none"/>
       <http pattern="/img" security="none"/>
       <http pattern="/scripts/images" security="none"/>
       <http auto-config="true">
              <intercept-url pattern="/css/Bootstrap" access="ROLE_ADMIN"/>
              <intercept-url pattern="/login.jsp" filters="none"/>
              <form-login login-page="/"
                          default-target-url="/eventsources/list.jsp"
                          authentication-failure-url="/login.jsp"/>
              <logout logout-success-url="/"/>

       </http>
       <authentication-manager>
              <authentication-provider>
                     <user-service>
                            <user name="admin" password="admin" authorities="ROLE_ADMIN"></user>
                     </user-service>
              </authentication-provider>
       </authentication-manager>
</beans:beans>